header{
    width:100vw;
    border: 1px solid lightgray;
    background-color: white;
    position: fixed;
    z-index: +1;
}
.logo{
    height: 80px;
    width: 150px;
    margin: 0px;
    margin-left: 100px;   
}
#navbar{
    width: 60%;
    font-family: Arial, Helvetica, sans-serif;
}
#navbar ul{
    list-style-type: none;
    font-size: 16px;
}
.log-in-btn{
    width: 20%;
}
.btn-login-sign-up{
    margin: 8px;
    margin-left: -20px;
    color:gray;
}
/* mobile view header */
#mView-header{
    display: none;
}
/*----------for tablet and mobile view-------------*/
@media only screen and (max-width:1100px){
    /* desktop view header */
    #dView-header{
        display: none;
    }
    #mView-header{
        width: 100%;
        display: flex;
    }
    .logo{
        height: 70px;
        width: 120px;
        margin: 0px;
        margin-left: 20px;   
    }
    #hamburger-icon{
        font-size: 35px;
        margin-right: 20px;
        cursor: pointer;
    }
    #m-navbar{
        margin: 0px;
        width: 0vw;
        height: 100vh;
        border: 1px solid lightgray;
        position: fixed;
        background-color:whitesmoke;
        transition: 0.7s ease-in-out;
        font-family: Arial, Helvetica, sans-serif;
    }
    #main-header{
        width: 100%;
    }
    #back-btn-mView-header{
        position: absolute;
        top:20px;
        left:51vw;
        font-size: 30px;
        cursor: pointer;
        display: none;
    }
    .log-in-btn{
        width: 100%;
    }
    .btn-login-sign-up{
        border-radius: 10px;
        padding: 10px;
        border: 1px solid purple;
        margin-left: 0px;
    }
    #m-navbar ul{
        flex-direction: column;
        list-style-type: none;
    }
    #openNav{
        height: 100vh;
        width: 60vw;
    }
}
